---
layout: main
bodyClass: "h-resume hresume"
---
<h1>Experience</h1>

<p class="summary">I’m a front-end developer interested in opportunities to practice and develop skills for an organization committed to providing its clients with professional-grade Web sites.</p>

<section>
	<h2>Skills</h2>
	<p>Very knowledgeable of <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/HTML"><abbr title="Hypertext Markup Language">HTML</abbr></a> (including <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a>), <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets"><abbr title="Cascading Style Sheets">CSS</abbr></a>, and <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a>. Also comfortable with <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/SQL"><abbr title="Structured Query Language">SQL</abbr></a> (and especially <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/MySQL">MySQL</a>) and <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/XML"><abbr title="Extensible Markup Language">XML</abbr></a>.</p>
	<p><a rel="tag" class="p-skill skill" href="http://www.w3.org/WAI/intro/accessibility.php">Accessibility</a>, <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/Web_usability">usability</a>, <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/Device_independence">device independence</a>/<a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/Content_adaptation">content adaptation</a>, and <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/Search_engine_optimization#Getting_indexed">search engine optimization</a> are key principles behind any development work.</p>
	<p>Comfortable developing with little more than a text editor and <abbr title="File Trasfer Protocol">FTP</abbr> client. Previous work utilized the following programs: <a rel="tag" class="p-skill skill" href="http://www.adobe.com/products/fireworks.html">Fireworks</a>, <a rel="tag" class="p-skill skill" href="http://www.adobe.com/products/dreamweaver.html">Dreamweaver</a>, <a rel="tag" class="p-skill skill" href="http://en.wikipedia.org/wiki/MyEclipse">MyEclipse</a>, <a rel="tag" class="p-skill skill" href="http://www.adobe.com/products/photoshop.html">Photoshop</a>. Familiar working on both <a rel="tag" class="p-skill skill" href="http://www.apple.com/macosx/">OS X</a> and <a rel="tag" class="p-skill skill" href="http://www.microsoft.com/windows/">Windows</a> systems alike.</p>
</section>

<section class="vcalendar">
	<h2>Work Experience</h2>

	<ol>
		{% for job in workExperience reversed %}
			<li class="experience vevent vcard">
				<h3>
					<span class="title summary">{{ job.title }}</span>,
					<a class="fn org url" href="{{ job.org.url}}">{{ job.org.fn }}</a>,
					<span class="locality">{{ job.locality }}</span>,
					<span class="region">{{ job.region }}</span>
					− <time class="dtstart" datetime="{{ job.dtstart }}">{{ job.dtstart | date: "%B %e, %Y"}}</time> –
					{% if job.dtend %}
					{% else %}
						Present
					{% endif %}
				</h3>
				<section class="description">
					{% for paragraph in job.description %}
						<p>{{ paragraph }}</p>
					{% endfor %}
				</section>
			</li>
		{% endfor %}
</section>

<section class="education vevent vcard">
	<h2>Education</h2>
	<a class="fn org url" href="http://www.creighton.edu">Creighton University</a>, <span class="locality">Omaha</span>, <abbr class="region" title="Nebraska">NE</abbr> — <abbr class="title summary" title="Bachelor of Sciecne in Business Administration">BSBA</abbr>, <time class="dtstart" datetime="2005-05-01">2005</time>
</section>
