<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes" />
		{% if title %}
			<title>{{ title }} | John Arthur</title>
		{% else %}
			<title>John Arthur</title>
		{% endif %}
		<link type="image/x-icon" rel="shortcut icon" href="/images/layout/favicon.png" />
		<link rel="stylesheet" href="/assets/css/syntax.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/print.css" media="print" />
	</head>
	<body class="www-jtarthur-net {{ bodyClass }}">
		<div role="banner">
			<a href="/"><img src="/assets/images/layout/site_id.png" alt="John Arthur" /></a>
		</div>
		<ul role="navigation" class="nav-main">
			{% for link in core.navigation %}
			<li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.label }}</a></li>
			{% endfor %}
		</ul>
		<div role="main">
			{{ content }}
		</div>
		<div role="contentinfo">
			<address class="vcard h-card contact">
				<a class="fn org url p-name p-org u-url" href="" title="John Arthur [www.jtarthur.net]" rel="me"><span class="given-name p-given-name">John</span> <span class="family-name p-family-name">Arthur</span></a>
				|
				<span class="adr p-adr">
					<span class="locality p-locality">Solon</span>,
					<span class="region p-region">Iowa</span>
				</span>
				|
				<span class="email u-email">john@jtarthur.net</span>
				|
				<a href="http://www.linkedin.com/pub/john-arthur/3/b60/591" style="text-decoration:none;">
					LinkedIn
				</a>
			</address>
			<p>Design and Content &copy; John Arthur</p>
		</div>
		<!-- build:js /assets/js/jta.js -->
		<!--
	  <script src="/assets/js/lib/jquery/jquery.min.js"></script>
	  <script src="/assets/js/jta.js"></script>
	  -->
	  <!-- endbuild -->
	</body>
</html>
