@import url(/assets/css/reset.css);
/*		Generic Styles		*/
html,
input,
select,
textarea {
	font: 1em/1.5em Helvetica, Arial, sans-serif;
	text-align: justify;
}

body {
	min-width: 20em;
	border-bottom: 1em solid #fff;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	line-height: 2em;
}

h3 {
	padding-left: 2em;
	text-indent: -2em;
}

p + p {
	text-indent: 2em;
}

a,
a:visited {
	color: #69f;
}

a:visited {
	color: #666;
}

a:hover,
a:visited:hover {
	color: #30c;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

form {
	max-width: 30em;
	text-align: right;
}

.form-controls {
	right: 0em;
	left: auto;
	width: 20em;
}

label {
	display: block;
	padding-bottom: 1.5em;
}

.form-textarea {
	padding: 0 0.6em 1.5em;
	text-align: left;
	text-indent: -0.6em;
}

input {
	width: 19.5em;
	padding: 0 0.25em;
	border: 0.1em inset;
}

textarea {
	width: 100%;
	height: 6em;
	padding: 0.75em 0.5em;
	border: 0.1em inset;
	margin: 0.75em -0.6em 0;
}

/*		Guest Controls Styles		*/
#JTA_Guest_Controls {
	position: relative;
	width: 100%;
	padding: 0.5em 0 1em;
	background: #999;
}
#JTA_Guest_Controls strong,
#JTA_Guest_Controls p,
#JTA_Guest_Controls .contentControls {
	position: relative;
	display: block;
	max-width: 39em;
	padding: 0 0.5em;
	margin: 0 auto;
}
#JTA_Guest_Controls strong {
	z-index: 1;
	background: #ccc;
}
#JTA_Guest_Controls p {
	z-index: 0;
}
#JTA_Guest_Controls .contentControls {
	z-index: 2;
	text-align: right;
}

/*		Banner/Main Nav Styles		*/
[role="banner"] {
	border-top: 0.5em solid #fff;
	text-align: center;
}

.nav-main {
	padding: 0;
	border-top: 0.25em solid #000;
	border-bottom: 0.75em double #000;
	text-align: center;
	word-spacing: -0.5em;
}
.nav-main li {
	width: 10em;
	display: inline-block;
}
.nav-main a,
.nav-main a:visited:hover {
	display: block;
	padding: 0.4em 0 0.8em;
	color: #000;
	line-height: 1;
	text-decoration: none;
	word-spacing: normal;
}
.nav-main a:hover {
	text-shadow: 0.1em 0.1em 0.1em #99c;
}

/*		Mobile styles		*/
@media (max-width: 39em) {
	.nav-main li {
		width: 50%;
	}
	.nav-main li li:nth-child(1),
	.nav-main li li:nth-child(2) {
		border-bottom: 0.1em solid #000;
	}
	.nav-main li li:nth-child(2) {
		margin-left: -0.25em;
	}
}
/*		Main Content Styles		*/
[role="main"] {
	max-width: 39em;
	padding: 0.5em 0.5em 1em;
	margin: 0 auto;
}

/*		Footer Styles		*/
[role="contentinfo"] {
	padding-top: 0.3125em;
	border-top: 0.3125em solid #000;
	font-size: 0.8em;
	line-height: 1.875;
	text-align: center;
}
[role="contentinfo"] .h-card {
	padding: 0.625em 0 1.25em;
	line-height: 1;
}
[role="contentinfo"] .h-card br {
	display: none;
}
[role="contentinfo"] a[href="http://www.linkedin.com/pub/john-arthur/3/b60/591"] img {
	margin-top: -3px;
}

[role="contentinfo"] a[href="http://www.linkedin.com/pub/john-arthur/3/b60/591"] {
}

[role="contentinfo"] p {
	margin: 0;
}

/*		About Styles		*/
.bookTitle {
	text-decoration: underline;
}

/*		Archrival Links		*/
.about #Archrival_Links ul,
.about #Archrival_Links li {
	list-style: none;
}

.about #Archrival_Links li {
	padding-top: 1.5em;
}

.about #Archrival_Links a {
	font-size: 1.25em;
}

/*		Experience Styles		*/
.h-resume ol {
	list-style: none;
}
.h-resume .experience + .experience {
	margin-top: 1.5em;
}

/*		Portfolio Styles		*/
.portView {
	position: relative;
	width: 40em;
	padding: 0.5em 0 1em;
	border-radius: 0.25em;
	margin: 1.5em -0.5em 0;
	background: #666;
	list-style: none;
	word-spacing: -0.5em;
}
.portView li {
	position: relative;
	display: inline-block;
	background: #666;
	list-style: none;
	word-spacing: normal;
}
.portView a {
	display: table;
	width: 9.5em;
	height: 9.5em;
	overflow: hidden;
	margin: 0.25em;
	color: #ccc;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.portView img {
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	clip: rect(0 9.5em 9.5em 0);
}
.portView a:hover img {
	opacity: 0.5;
}
.portView em {
	position: relative;
	z-index: 10;
	display: none;
	width: 8.5em;
	height: 8.5em;
	padding: 0 0.5em;
	color: #fff;
	font-weigth: bold;
	text-shadow: 0 0 0.5em #666, 0 0 0.1em #000;
	letter-spacing: 0.1em;
	vertical-align: middle;
}
.portView a:hover em {
	display: table-cell;
}

[role="main"] .portViewLg {
	display: block;
	border: 0.5em solid #666;
	margin: 0 auto;
}

/*		Contact Styles		*/
/*		Lightbox Styles		*/
#JMD_LightBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
	background: rgba(0, 0, 0, 0.6);
}
#JMD_LightBox .lbContent {
	position: absolute;
	top: 75px;
	left: 50%;
	width: 600px;
	overflow: auto;
	border: 10px solid #fff;
	border-radius: 10px;
	margin-left: -310px;
	background: #fff;
	box-shadow: 0.1em 0.1em 0.1em #333;
	text-align: center;
}
#JMD_LightBox .lbPrev,
#JMD_LightBox .lbNext {
	position: absolute;
	bottom: 0;
	padding: 0.5em 1em;
	border: solid #fff;
	background: #fff;
	opacity: 0.6;
	cursor: pointer;
}
#JMD_LightBox .lbPrev:hover,
#JMD_LightBox .lbNext:hover {
	border-color: #ddd;
	opacity: 0.8;
}
#JMD_LightBox .lbPrev {
	left: 0;
	border-width: 1px 1px 0 0;
	border-top-right-radius: 5px;
}
#JMD_LightBox .lbNext {
	right: 0;
	border-width: 1px 0 0 1px;
	border-top-left-radius: 5px;
}
#JMD_LightBox .lbClose {
	position: absolute;
	top: 75px;
	right: 50%;
	width: 5px;
	height: 5px;
	overflow: hidden;
	border: 10px double #c30;
	border-radius: 15px;
	margin: -15px -325px 0 0;
	background: #fff;
	box-shadow: 0.1em 0.1em 0.1em #333;
	text-indent: -999em;
	cursor: pointer;
}
