body {
	font-size: 12pt;
}

a {
	color: #000;
	text-decoration: none;
}

[role="banner"] {
	border-top: none;
}

.nav-main li,
[role="contentinfo"] p,
[role="contentinfo"] .guestDispControls {
	display: none;
}

.nav-main {
	border-top: none;
}

[role="main"] {
	width: 100%;
	max-width: 100%;
	padding: 0.5em 0 1em;
	margin: 0;
}

[role="main"] a:after {
	content: " (jtarthur.net" attr(href) ")";
}

.Archrival [role="main"] a:after {
	content: " (archrival.jtarthur.net" attr(href) ")";
}

[role="main"] [href^="http"]:after {
	content: " (" attr(href) ")";
}

[role="main"] [href="/contact"]:after {
	content: " (john@jtarthur.net)";
}

[role="contentinfo"] {
	position: absolute;
	bottom: 0;
	width: 100%;
}

[role="contentinfo"] a:after {
	content: " | jtarthur.net";
}

/*		Home Page Print Styles		*/
.clSalutation {
	font-size: 1em;
	font-weight: normal;
	margin: 1.5em 0;
	text-align: left;
}

.clClosing p,
.clClosing p + p {
	padding: 1.5em 0;
	text-indent: 0;
}

.Hayneedle .clClosing {
	padding: 1.5em 0;
}

/*		Resume Print Styles		*/
.hresume h1 {
	display: none;
}

.hresume [role="main"] [rel="tag"] {
	border: none;
}

.hresume [role="main"] [rel="tag"]:after {
	content: "";
}
